
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
}

#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 100%;
}
.two-sidebars #content {
  width: 100;
}
.no-sidebars #content {
  width: 100%;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 100%;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
/*  margin: 20px 20px 30px;*/
  width: 100%;
}
#footer-wrapper {
/*  padding: 35px 5px 30px;*/
  padding: 35px 0 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
/*  padding: 0 10px;*/
  width: 100%;
}


@media screen and (min-width: 480px)  {
  div {
    background: #999;
  }
  #header div.section,
  #featured div.section,
  #messages div.section,
  #main,
  #triptych,
  #footer-columns,
  #footer {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
  #page-wrapper {
    min-width: 720px;
  }
  .one-sidebar #content {
    width: 70%;
  }
  .two-sidebars #content {
    width: 50%;
  }
  .no-sidebars #content {
    width: 100%;
    float: none;
  }
  .two-sidebars #sidebar-first,
  .two-sidebars #sidebar-second {
    width: 25%;
  }
  .one-sidebar #sidebar-first,
  .one-sidebar #sidebar-second {
    width: 30%;
  }
  #footer {
    width: 700px;
    min-width: 680px;
  }
}

@media screen and (min-width: 768px) {
  div {
    background: #666;
  }
  #header div.section,
  #featured div.section,
  #messages div.section,
  #main,
  #triptych,
  #footer-columns,
  #footer {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
  #page-wrapper {
    min-width: 960px;
  }
  #footer {
    width: 940px;
    min-width: 920px;
  }
}

@media screen and (min-width: 1024px) {
  div {
    background: #ccc;
  }
  #header div.section,
  #featured div.section,
  #messages div.section,
  #main,
  #triptych,
  #footer-columns,
  #footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
  }
  #page-wrapper {
    min-width: 1200px;
  }
  #footer {
    width: 1180px;
    min-width: 1160px;
  }
}